.grid {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 100px repeat(2, 200px) 100px;
    grid-template-areas:
        "header header header header"
        "content content content nav"
        "content content content nav"
        "footer footer footer footer";
}

.header {
    background-color: tomato;
    grid-area: header;
}

.content {
    background-color: teal;
    grid-area: content;
}

.nav {
    background-color: wheat;
    grid-area: nav;
}

.footer {
    background-color: thistle;
    grid-area: footer;
}
