.grid {
    display: grid;
    gap: 5px;
    height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
}

.header {
    background-color: tomato;
    align-self: end;
    justify-self: center;
    place-self: center end;
}

.content {
    background-color: teal;
}

.nav {
    background-color: wheat;
}

.footer {
    background-color: thistle;
}
